body{background-color: burlywood;}
h1{color: chocolate;text-decoration: underline;font-family:'Lobster';font-weight:bold;font-size: 40pt;}/* este es el titulo */
h2{color: rgb(143, 66, 38);text-decoration: underline;font-family:sans-serif;font-size: 22pt;}
h3{color: rgb(240, 130, 33);text-decoration: underline;font-style: oblique;font-size: 15pt;}
@font-face {
    font-family:'Lobster';
    src: url(/Fuente/Lobster-Regular.ttf);}

    p{font-family:'Caveat';
    font-weight: normal;font-size: 15pt;}
    sbr{font-family:'Caveat';
        font-weight: normal;font-size: 15pt;}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lobster&display=swap');